{
  "openapi": "3.1.0",
  "info": {
    "title": "Strata Saudi Public Agent Readiness API",
    "version": "2026-08-22",
    "description": "Public read-only API and discovery documentation for Strata Risk Advisory. Project inquiry submission and all contact actions require explicit user approval. Public-content policy: ai-train=no, search=yes, ai-input=yes.",
    "contact": {
      "name": "Strata Risk Advisory",
      "url": "https://www.stratasaudi.com/contact",
      "email": "advisory@stratasaudi.com"
    }
  },
  "x-public-contact": {
    "telephone": "+966500067865",
    "telephone_display": "+966 50 006 7865",
    "whatsapp": "https://wa.me/966500067865?text=Hello%20Strata%20Risk%20Advisory.%20I%20am%20contacting%20you%20through%20the%20Strata%20Saudi%20website%20regarding%20a%20confidential%20project-risk%20advisory%20enquiry.",
    "approval_required_before_contact": true
  },
  "x-content-negotiation": {
    "representations": [
      "text/html",
      "text/markdown"
    ],
    "rules": [
      "Valid q-values from 0 to 1 are honored.",
      "An explicit q=0 excludes that representation.",
      "Higher representation quality wins.",
      "Equal quality uses the more specific matching media range.",
      "Equal explicit HTML and Markdown preference defaults to HTML.",
      "Missing, malformed, wildcard-only, or otherwise ambiguous Accept preferences default to HTML."
    ],
    "html_alternate_link": "Canonical HTML and HEAD responses advertise the page-specific Markdown sidecar with rel=alternate and type=text/markdown.",
    "language_variants": "English is unprefixed. Arabic, French, Spanish, Italian, and German use clean /ar, /fr, /es, /it, and /de canonical paths. Every localized sitemap page provides HTML and Markdown representations. Legacy ?lang= URLs redirect to the clean localized path."
  },
  "x-language-routing": {
    "primary_language": "en",
    "supported_languages": [
      "en",
      "ar",
      "fr",
      "es",
      "it",
      "de"
    ],
    "localized_path_pattern": "/{language}/{canonicalPage}",
    "localized_home_pattern": "/{language}",
    "localized_markdown_pattern": "/{language}/{canonicalPage}.md",
    "legacy_query_behavior": "Permanent redirect to the corresponding clean language-prefixed canonical URL."
  },
  "servers": [
    {
      "url": "https://www.stratasaudi.com"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Canonical home page with optional Markdown representation",
        "operationId": "getHomePage",
        "x-head-supported": true,
        "description": "Returns browser HTML by default. Returns deterministic Markdown when the request prefers text/markdown under the documented quality, specificity, exclusion, and HTML tie-break rules.",
        "responses": {
          "200": {
            "description": "Canonical home page",
            "headers": {
              "Vary": {
                "description": "Present on canonical HTML and Markdown representations.",
                "schema": {
                  "type": "string",
                  "const": "Accept"
                }
              },
              "Content-Language": {
                "description": "Language of the selected representation.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "en",
                    "ar",
                    "fr",
                    "es",
                    "it",
                    "de"
                  ]
                }
              },
              "Content-Signal": {
                "description": "Owner-approved public-content policy.",
                "schema": {
                  "type": "string",
                  "const": "ai-train=no, search=yes, ai-input=yes"
                }
              },
              "Link": {
                "description": "HTML advertises the Markdown alternate. Markdown links to the canonical HTML page.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/{canonicalPage}": {
      "get": {
        "summary": "Canonical sitemap page with optional Markdown representation",
        "operationId": "getCanonicalPage",
        "x-head-supported": true,
        "description": "Returns browser HTML by default. Returns deterministic Markdown when the request prefers text/markdown and the path is a canonical, indexable sitemap page. Localized pages use the language-prefixed operations documented below.",
        "parameters": [
          {
            "name": "canonicalPage",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "about",
                "services",
                "counterparties",
                "why-saudi",
                "insights",
                "faq",
                "ethics",
                "contact",
                "privacy",
                "terms",
                "mandate-checklist",
                "fidic-claims-saudi-arabia"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical page as HTML or Markdown",
            "headers": {
              "Vary": {
                "description": "Present on canonical HTML and Markdown representations.",
                "schema": {
                  "type": "string",
                  "const": "Accept"
                }
              },
              "Content-Location": {
                "description": "Present on Markdown responses and points to the direct Markdown sidecar.",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Content-Language": {
                "description": "Language of the selected HTML or Markdown representation.",
                "schema": {
                  "type": "string",
                  "enum": [
                    "en",
                    "ar",
                    "fr",
                    "es",
                    "it",
                    "de"
                  ]
                }
              },
              "Content-Signal": {
                "description": "Owner-approved public-content policy.",
                "schema": {
                  "type": "string",
                  "const": "ai-train=no, search=yes, ai-input=yes"
                }
              },
              "Link": {
                "description": "HTML advertises the page-specific Markdown alternate. Markdown links to the canonical HTML page.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/{language}": {
      "get": {
        "summary": "Localized canonical home page with optional Markdown representation",
        "operationId": "getLocalizedHomePage",
        "x-head-supported": true,
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ar", "fr", "es", "it", "de"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Localized home page as HTML or Markdown",
            "content": {
              "text/html": { "schema": { "type": "string" } },
              "text/markdown": { "schema": { "type": "string" } }
            }
          }
        }
      }
    },
    "/{language}/{canonicalPage}": {
      "get": {
        "summary": "Localized canonical sitemap page with optional Markdown representation",
        "operationId": "getLocalizedCanonicalPage",
        "x-head-supported": true,
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["ar", "fr", "es", "it", "de"]
            }
          },
          {
            "name": "canonicalPage",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["about", "services", "counterparties", "why-saudi", "insights", "faq", "ethics", "contact", "privacy", "terms", "mandate-checklist", "fidic-claims-saudi-arabia"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Localized canonical page as HTML or Markdown",
            "content": {
              "text/html": { "schema": { "type": "string" } },
              "text/markdown": { "schema": { "type": "string" } }
            }
          }
        }
      }
    },
    "/{language}/index.md": {
      "get": {
        "summary": "Direct noindex localized Markdown sidecar for the home page",
        "operationId": "getLocalizedHomeMarkdownSidecar",
        "x-head-supported": true,
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["ar", "fr", "es", "it", "de"] }
          }
        ],
        "responses": {
          "200": {
            "description": "Localized Markdown home sidecar with X-Robots-Tag: noindex, follow.",
            "content": { "text/markdown": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/{language}/{canonicalPage}.md": {
      "get": {
        "summary": "Direct noindex localized Markdown sidecar",
        "operationId": "getLocalizedMarkdownSidecar",
        "x-head-supported": true,
        "parameters": [
          {
            "name": "language",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "enum": ["ar", "fr", "es", "it", "de"] }
          },
          {
            "name": "canonicalPage",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Localized Markdown sidecar with X-Robots-Tag: noindex, follow.",
            "content": { "text/markdown": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/index.md": {
      "get": {
        "summary": "Direct noindex Markdown sidecar for the home page",
        "operationId": "getHomeMarkdownSidecar",
        "x-head-supported": true,
        "responses": {
          "200": {
            "description": "Markdown sidecar for the home page. Search engines should not index this duplicate representation.",
            "headers": {
              "Vary": {
                "schema": {
                  "type": "string",
                  "const": "Accept"
                }
              },
              "Content-Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Content-Language": {
                "schema": {
                  "type": "string",
                  "const": "en"
                }
              },
              "X-Robots-Tag": {
                "schema": {
                  "type": "string",
                  "const": "noindex, follow"
                }
              },
              "Content-Signal": {
                "schema": {
                  "type": "string",
                  "const": "ai-train=no, search=yes, ai-input=yes"
                }
              },
              "Link": {
                "description": "Canonical link to the corresponding HTML home page.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/{canonicalPage}.md": {
      "get": {
        "summary": "Direct noindex Markdown sidecar for a canonical sitemap page",
        "operationId": "getMarkdownSidecar",
        "x-head-supported": true,
        "parameters": [
          {
            "name": "canonicalPage",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "about",
                "services",
                "counterparties",
                "why-saudi",
                "insights",
                "faq",
                "ethics",
                "contact",
                "privacy",
                "terms",
                "mandate-checklist",
                "fidic-claims-saudi-arabia"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Markdown sidecar. Search engines should not index this duplicate representation.",
            "headers": {
              "Vary": {
                "schema": {
                  "type": "string",
                  "const": "Accept"
                }
              },
              "X-Robots-Tag": {
                "schema": {
                  "type": "string",
                  "const": "noindex, follow"
                }
              },
              "Content-Location": {
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              },
              "Content-Language": {
                "schema": {
                  "type": "string",
                  "const": "en"
                }
              },
              "Content-Signal": {
                "schema": {
                  "type": "string",
                  "const": "ai-train=no, search=yes, ai-input=yes"
                }
              },
              "Link": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/company.json": {
      "get": {
        "summary": "Company overview",
        "operationId": "getCompanyData",
        "responses": {
          "200": {
            "description": "Public company data"
          }
        }
      }
    },
    "/data/services.json": {
      "get": {
        "summary": "Service mandates",
        "operationId": "getServicesData",
        "responses": {
          "200": {
            "description": "Public service data"
          }
        }
      }
    },
    "/data/capabilities.json": {
      "get": {
        "summary": "Capabilities",
        "operationId": "getCapabilitiesData",
        "responses": {
          "200": {
            "description": "Public capabilities data"
          }
        }
      }
    },
    "/data/service-areas.json": {
      "get": {
        "summary": "Service areas and fit signals",
        "operationId": "getServiceAreasData",
        "responses": {
          "200": {
            "description": "Public service-area data"
          }
        }
      }
    },
    "/data/project-inquiry-schema.json": {
      "get": {
        "summary": "Project inquiry preparation schema",
        "operationId": "getProjectInquirySchema",
        "responses": {
          "200": {
            "description": "Public inquiry preparation schema"
          }
        }
      }
    },
    "/data/agent-routing.json": {
      "get": {
        "summary": "Agent routing rules",
        "operationId": "getAgentRoutingRules",
        "responses": {
          "200": {
            "description": "Public agent routing rules"
          }
        }
      }
    },
    "/api/mcp": {
      "get": {
        "summary": "Read-only MCP discovery",
        "operationId": "getMcpDiscovery",
        "responses": {
          "200": {
            "description": "MCP server metadata, tools, resources, and policies"
          }
        }
      },
      "post": {
        "summary": "Read-only MCP JSON-RPC endpoint",
        "operationId": "postMcpJsonRpc",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "MCP JSON-RPC response"
          }
        }
      }
    },
    "/.well-known/ai-catalog.json": {
      "get": {
        "summary": "ARD capability catalog",
        "operationId": "getAgenticResourceCatalog",
        "responses": {
          "200": {
            "description": "Public ARD catalog for Strata's Agent Card, read-only MCP server, and OpenAPI contract",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "summary": "Project inquiry submission",
        "description": "Submission endpoint for approved project inquiries. Agents must not call this endpoint unless the user explicitly approves final submission.",
        "operationId": "submitProjectInquiryAfterApproval",
        "x-agent-approval-required": true,
        "x-non-fit-routing": [
          "careers_jobs_internships",
          "training_courses",
          "vendors_suppliers_resellers",
          "legal_representation",
          "consumer_or_retail",
          "seo_backlinks_spam",
          "unrelated"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectInquiry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inquiry accepted for mandate review"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/data/use-cases.json": {
      "get": {
        "summary": "Use-case taxonomy",
        "operationId": "getUseCasesData",
        "responses": {
          "200": {
            "description": "Public non-confidential use-case taxonomy"
          }
        }
      }
    },
    "/data/fit-matrix.json": {
      "get": {
        "summary": "Fit matrix",
        "operationId": "getFitMatrixData",
        "responses": {
          "200": {
            "description": "Public fit and non-fit routing matrix"
          }
        }
      }
    },
    "/data/evidence-requirements.json": {
      "get": {
        "summary": "Evidence requirements",
        "operationId": "getEvidenceRequirementsData",
        "responses": {
          "200": {
            "description": "Public evidence-readiness taxonomy"
          }
        }
      }
    },
    "/data/fidic-risk-signals.json": {
      "get": {
        "summary": "FIDIC risk signals",
        "operationId": "getFidicRiskSignalsData",
        "responses": {
          "200": {
            "description": "Public FIDIC-adjacent risk-signal taxonomy"
          }
        }
      }
    },
    "/data/conversion-intelligence.json": {
      "get": {
        "summary": "Conversion intelligence taxonomy",
        "operationId": "getConversionIntelligenceData",
        "responses": {
          "200": {
            "description": "Privacy-safe measurement taxonomy"
          }
        }
      }
    },
    "/data/indexing-control.json": {
      "get": {
        "summary": "Indexing control taxonomy",
        "operationId": "getIndexingControlData",
        "responses": {
          "200": {
            "description": "Operational indexing control taxonomy"
          }
        }
      }
    },
    "/data/authority-evidence.json": {
      "get": {
        "summary": "Authority evidence guidance",
        "operationId": "getAuthorityEvidenceData",
        "responses": {
          "200": {
            "description": "Public non-confidential authority and trust-signal guidance"
          }
        }
      }
    },
    "/data/procurement-readiness.json": {
      "get": {
        "summary": "Procurement agent readiness",
        "operationId": "getProcurementReadinessData",
        "responses": {
          "200": {
            "description": "Public procurement fit, qualification, and routing guidance"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProjectInquiry": {
        "type": "object",
        "required": [
          "name",
          "email",
          "company",
          "country",
          "counterpartyType",
          "mandateType",
          "message",
          "conflictCheckAcknowledged"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "role": {
            "type": "string"
          },
          "company": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "counterpartyType": {
            "type": "string",
            "enum": [
              "epc",
              "developer",
              "law_firm",
              "investor",
              "board",
              "other"
            ]
          },
          "mandateType": {
            "type": "string",
            "enum": [
              "pre_contract_risk_review",
              "project_risk_oversight",
              "pre_litigation_advisory",
              "technical_opinion",
              "vendor_risk_assessment",
              "board_risk_briefing"
            ]
          },
          "projectStage": {
            "type": "string",
            "enum": [
              "pre_tender",
              "tender",
              "pre_contract_award",
              "live_project",
              "claim_dispute_pre_litigation"
            ]
          },
          "projectValueBand": {
            "type": "string",
            "enum": [
              "under_50m",
              "50m_250m",
              "250m_500m",
              "500m_plus"
            ]
          },
          "urgency": {
            "type": "string",
            "enum": [
              "immediate",
              "this_month",
              "this_quarter",
              "monitoring"
            ]
          },
          "message": {
            "type": "string"
          },
          "confidentialityRequired": {
            "type": "boolean"
          },
          "conflictCheckAcknowledged": {
            "type": "boolean",
            "const": true
          }
        }
      }
    }
  }
}
